.why-lang-training-cards{
    /* Frame 2106257557 */

box-sizing: border-box;
/* flex-direction: row; */
align-items: start;
padding: 16px 24px 16px 16px !important;
width: 100%;
background-color: #FBFBFB !important;
border: 1px solid #EAEAEC !important;
border-radius: 12px !important;


}