.partner-bg {
  background-image: url('../../../images/home/partner-bg.png');
  background-position: center !important;
  background-repeat: no-repeat !important;
  border-radius: 40px !important;
    /* padding: 0; */
}