.abroad-header-wrapper {
    width: 50% !important;
    padding-bottom: 48px !important;
}

.scroller {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.scroller__inner {
    display: inline-flex;
    align-items: center;
    width: max-content;
    animation: scroll 20s linear infinite;
    white-space: nowrap;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}


.study-abroad-destination-card {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    padding: 0px 24px !important;
    gap: 8px !important;
    border-radius: 16px !important;
    border: 0px !important;

}

.destination-flag {
    width: 50px !important;
    height: auto !important;
}