@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Initially hidden */
.test-prep-card {
    background-color: #F9EDE7 !important;
    width: 100% !important;
    padding: 15px 10px !important;
    min-height: 90px !important;
    max-height: 200px !important;
    height: 160px !important;
    width: 180px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none !important;
    border-radius: 24px !important;

    opacity: 0; /* Start hidden */
    transform: translateY(30px); /* Keep out of view */
}

/* Apply animation when in view */
.fade-in .test-prep-card {
    animation: fadeInUp 0.5s ease-out forwards;
}

@media (max-width: 640px) {
    .test-prep-card {
        height: 60px !important;
        padding: 18px !important;
    }
}
