.intern-card {
  background-color: #F8F8F8 !important;
  color: #5B5B5B !important;
  font-weight: 400 !important;
  width: 100% !important;
  height: 200px !important;
  position: relative; /* Required for positioning the circle */
  overflow: hidden !important;
  text-align: end !important;
  padding-left: 40px !important;
   border-radius: 12px !important;
}

.intern-card-icon-wrapper {
  position: absolute;
  top: -20px; 
  left: -20px; 
  width: 130px; 
  height: 130px; 
  background-color: #F2F2F9; 
  border-radius: 50%;
  /* border: 2px solid #E5ECF9;  */
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
}

.intern-card-icon {
  width: 80%; /* Icon size, adjust as necessary */
  height: 80%;
  object-fit:scale-down; /* Ensures the image fits in the circle */
  
}

.intern-card-text-wrapper{
  /* background-color: pink; */
   width: 70%;
  text-align: start !important;
}


.internship-slider-wrapper {
  width: 100%;
  padding: 0 20px; /* Optional for spacing */
}

.intern-card-wrapper {
  padding: 10px; 
}
