.intern-card {
  background-color: #F8F8F8 !important;
  color: #5B5B5B !important;
  font-weight: 400 !important;
  width: 100% !important;
  height: 200px !important;
  overflow: hidden !important;
  text-align: start !important;
  border-radius: 8px !important;
  min-width: 250px !important;
  justify-items: start !important;
  justify-content: start !important;
  padding: 15px !important;
}


@media (max-width: 640px) {

  .intern-card{
    width: 280px !important;
    height: 160px !important;
  }

}


.intern-card-text-wrapper{
  /* background-color: pink; */
   width: 65%;
  text-align: start !important;
}

.internship-slider-wrapper{
  /* background-color: pink !important; */
  row-gap: 20px !important;
  border-radius: 24px !important;
  padding: 0 !important;
  overflow: hidden !important;
}