.nurse-serv-card{
    align-items: start;
    padding-left: 12px !important;
    border-radius: 0 !important;
    border-left: 4px solid #9473F2 !important;
    border-right: none !important;
    border-top: none !important;   
    border-bottom: none !important; 
}