/* Breadcrumb Styles */
.breadcrumb-wrapper {
    margin-bottom: 15px;
    padding-top: 10px;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
}

.breadcrumb-item a {
    color: #666;
    text-decoration: none;
}

.breadcrumb-item.active {
    color: #999;
    font-weight: 500;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
    color: #ccc;
}

.blogs-summary-bg {
    /* Frame 2106257823 */

    box-sizing: border-box !important;

    /* Auto layout */
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 10px 12px 10px 24px !important;
    /* gap: 8px; */
    /* 
    width: 758px;
    height: 68px; */
    background: #FBFBFB !important;
    border-left: 4px solid #E86E39 !important;
    border-radius: 8px !important;
}