.edu-scholarship-bg {
  background-image: url("../../../../assets/images/study-abroad-county-wise/scholarShipBg.jpg");
  background-position: top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  border-radius: 0 0 80px 80px !important;
  /* width: 100vw !important; */
}

.scholarship-content {
  padding: 20px 0;
}

.scholarship-list {
  width: 75% !important;
}

.scholarship-item a {
  transition: all 0.3s ease;
  box-sizing: border-box !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start !important;
  padding: 16px !important;
  gap: 16px !important;
  background-color: #81a9f8 !important;
  border: 1px solid #9dbefd !important;
  border-radius: 12px !important;
  margin-bottom: 12px !important;
}

.scholarship-item a:hover {
  background-color: rgba(255, 255, 255, 0.35) !important;
  transform: translateX(5px);
}

.scholarship-item i {
  transition: all 0.3s ease;
}

.scholarship-item a:hover i {
  transform: translateX(5px);
}

@media (max-width: 992px) {
  .edu-scholarship-bg {
    background-image: url("../../../../assets/images/study-abroad-county-wise/scholarShipBg.jpg");
    background-position: top !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border-radius: 0 0 24px 24px !important;
    margin-bottom: 8px !important;
    /* width: 100vw !important; */
  }

  .scholarship-section {
    padding-left: 16px !important;
    padding-right: 16px !important;
    padding-bottom: 30px;
  }

  .scholarship-content {
    text-align: left !important;
  }

  .scholarship-list {
    width: 100% !important;
  }
}