.footer-container {
  background-color: #634BA6;
  padding: 20px;
  gap: 20px;
}

.footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-nav-link {
  color: black;
  text-decoration: none;
  /* font-weight: 500; */
  transition: all 0.3s ease;
}

.footer-nav-link:hover {
  text-decoration: underline;
}

.social-icon {
  color: black;
  font-size: 24px;
  transition: all 0.3s ease;
}

.social-icon:hover {
  color: #007bff;
}

.fb:hover { color: #3b5998; }
.ig:hover { color: #e1306c; }
.tw:hover { color: #00acee; }
.gl:hover { color: #ff0000; }

.footer-bg {
  background-image: url('../../images/home/footer-bg.png');
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 16px;
}