.prim-card {
  padding-left: 40px;
  padding-bottom: 0%;
  padding-right: 5px ;
  width: 100%;
  height: 180px !important;
  border-radius: 12px !important;
  justify-content:space-evenly !important;
}

img{
  padding: 0% !important;
  margin: 0 !important;
}

.sec-card {
  background-color: #F8F8F8 !important;
  color: #5B5B5B !important;
  font-weight: 400 !important;
  width: 100% !important;
  height: 140px !important;
  position: relative; /* Required for positioning the circle */
  overflow: hidden !important;
  text-align: end !important;
  padding-left: 40px !important;
  border-radius: 12px !important;
}

.sec-card-icon-wrapper {
  position: absolute;
  top: -20px; 
  left: -20px; 
  width: 130px; 
  height: 130px; 
  background-color: #F2F2F9; 
  border-radius: 50%;
  /* border: 2px solid #E5ECF9;  */
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
}

.sec-card-text-wrapper{
  width: 65%;
  text-align: center !important;
}

.sec-card-icon {
  width: 80% !important; 
  height:80%  !important;
  object-fit: scale-down !important; /* Ensures the image fits in the circle */
}

.sec-card-img {
  background-color: #F2F2F9 !important;
}
