.prim-card {
  padding: 24px !important;
  width: 100% !important;
  height: 100% !important;
  border-radius: 23px !important;
  justify-content:space-evenly !important;
  overflow: hidden !important;
  border-radius: 12px !important;
}


.work-card-img{
  padding: 0% !important;
  margin: 0 !important;
  height: auto !important;
  width: 100% !important;
  border-radius: 12px !important;

}

.work-abroad-bg-card{
  background-image: url('../../../assets/images/home/workAbroadBg.svg');
  background-size:cover;
  background-repeat: no-repeat;
  border-radius: 24px !important;
  padding: 56px 40px 40px !important;
}

/* Responsive Design */
@media (max-width: 992px) {
  
}

@media (max-width: 576px) {

  .work-card-img{
    height: 180px !important;
    width: auto;
    object-fit: cover;
  }
 

  
}
