/* Navbar Container */
.navbar-logo {
  width: 150px !important;
  height: 50px !important;
  object-fit: contain; /* Ensures proper scaling */
}

@media (max-width: 768px) {
  .navbar-logo {
    width: 100px !important;
  }

  .navcont {
    height: fit-content !important;
    background-color: white !important;
  }
}

.navcont {
  background-color: white !important;
  color: var(--content-secondary) !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: background-color 0.3s ease; /* Smooth transition on scroll */
  /* height: 70px !important; */
}

/* Navbar Brand Heading */
.nav-head {
  color: var(--primary-variant) !important;
  font-weight: bold !important;
  vertical-align: middle !important;
  font-size: 32px !important;
}

/* Common Styling for Nav Links and Dropdown Trigger */
.navpaths {
  color: rgb(96, 96, 96) !important;
  font-size: 14px !important;
  border: none;
  outline: none;
  padding: 8px 20px !important; /* Add horizontal padding */
  margin: 0 5px !important;
  display: flex !important; /* Flex alignment */
  align-items: center !important; /* Center content vertically */
  background: transparent !important; /* Remove default background */
  cursor: pointer; /* Pointer cursor for interactivity */
  transition: all 0.3s ease-in-out; /* Smooth hover effect */
}

.dropdown-toggle {
  color: rgb(96, 96, 96) !important;
  font-size: 18px !important;
  border: none;
  outline: none;
  padding: 0px 0px !important; /* Add horizontal padding */
  margin: 0 5px !important;
  display: flex !important; /* Flex alignment */
  align-items: center !important; /* Center content vertically */
  background: transparent !important; /* Remove default background */
  cursor: pointer; /* Pointer cursor for interactivity */
  transition: all 0.3s ease-in-out; /* Smooth hover effect */
}

/* Hover Effect for Nav Links & Dropdown */
.navpaths:hover {
  color: #e86e39 !important;
  background-color: #fcf1ed !important;
  border-radius: 999px !important;
  padding: 8px 20px !important; /* Maintain padding */
  transition: all 0.3s ease-in-out; /* Smooth transition */
}

.active-link {
  color: #e86e39 !important;
  background-color: #fcf1ed !important;
  border-radius: 999px !important;
  padding: 8px 20px !important; /* Maintain padding */
  transition: all 0.3s ease-in-out; /* Smooth transition */
}

/* Responsive Design */
@media (max-width: 1200px) and (min-width: 1000px) {
  .navpaths {
    font-size: 14px !important;
  }

  .nav-head {
    font-size: 24px !important;
  }
}

@media (max-width: 992px) {
  .navpaths {
    font-size: 14px !important;
    padding: 10px 15px !important;
  }

  .navcont button {
    font-size: 14px !important;
  }
}

/* Dropdown Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
