header {
  height: 100vh !important;
  overflow: hidden !important;
  margin: 90px;
}

.nurse-landing-card {
  height: 85vh !important;
  padding: 10px !important;
  border: 1px solid #DFE1E6;
  border-radius: 24px !important;
  width: fit-content;
}

/* Updated Carousel CSS */
.nurse-img-carousel {
  position: relative;
  height: 82vh !important;
  /* Fixed height for the carousel container */
  overflow: hidden;
  border-radius: 16px !important;
  width: 100% !important;
}

/* Force the inner carousel container to fill the parent height */
.nurse-img-carousel .carousel-inner {
  height: 100%;
}

/* Ensure each carousel item takes up the full height */
.nurse-img-carousel .carousel-item {
  height: 100%;
}

/* Apply fixed dimensions to all images inside the carousel */
.nurse-img-carousel img {
  height: 100% !important;
  width: 100% !important;
  object-fit: cover;
  /* This will cover the container without distorting the image */
}

/* Experience option styling */
.experience-option {
  cursor: pointer;
  padding: 6px 12px;
  border: 1px solid #D0D5DD;
  border-radius: 12px;
  background-color: transparent;
  color: var(--content-secondary);
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-weight: 500;
  width: fit-content !important;
  white-space: nowrap;
}

.experience-option.selected {
  background-color: var(--secondary-variant);
  color: white;
  border-color: var(--secondary-variant);
}

/* Carousel indicators styling */
.carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 5px !important;
  background-color: white !important;
  border: none;
  transition: all 0.3s ease-in-out;
}

.carousel-indicators .active {
  width: 37px !important;
  height: 5px !important;
  border-radius: 0px !important;
  background-color: #E86E39 !important;
}