.why-us-nurse-bg {
    background-color: #1A202C;
    background-image: url('../../../assets/images/landing/whyus-bg.svg');
    background-repeat: no-repeat;
    background-position:center ;
    background-size: contain;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    position: relative; /* Ensure relative positioning for the pseudo-element */
}

.why-us-nurse-bg::after {
    content: "";  /* Required for pseudo-elements */
    display: block; /* Ensure it takes up space */
    height: 130px;
    width: 100%;
    background-color: #1A202C;
    position: absolute;
    bottom: -130px; /* Position it below the parent */
    left: 0;
       border-bottom-left-radius: 50% 80px; /* Half-circle effect */
    border-bottom-right-radius: 50% 80px; /* Half-circle effect */
}



.why-us-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Spacing between cards */
  justify-content: center; /* Centers items in the row */
}

.why-us-card {
  width: fit-content !important; /* Set a fixed width for each card */
  text-align: center !important;
  padding: 8px 16px !important;
  border-radius: 10px !important;
  background-color: #222A39 !important;
  border: 1px solid #2E384B !important;
  color: white !important;
}

.why-us-card img {
  width: 80px; /* Adjust image size */
  height: auto;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .why-us-card {
    height: 45px !important;
    padding: 8px 8px !important;
    vertical-align: middle !important;
  }

  .why-us-card img {
  width: 25px; /* Adjust image size */}

  .why-us-nurse-bg::after {
    content: "";  /* Required for pseudo-elements */
    display: block; /* Ensure it takes up space */
    height: 20px;
    width: 100%;
       border-bottom-left-radius: 50% 50px; /* Half-circle effect */
    border-bottom-right-radius: 50% 50px; /* Half-circle effect */
     bottom: -20px;
}

}